.card-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    border: 1px solid var(--accent);
    box-shadow: 0 0.2rem 0 0.2rem var(--accent);
    border-radius: var(--radius);
    width: 100%;
    max-width: 25.1875rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    color: var(--primary);
    background-color: var(--accent);
    border-radius: 50%;
    padding: 4px;
}

.icon path {
  fill: currentColor;
}

.card-image {
    width: 100%;
    max-width: 100px;
    filter: drop-shadow(4px 3px var(--primary));
}

.image {
    width: 100%;
    height: auto;
    display: block;
    
    aspect-ratio: 1;
    --g:/20.56% 20.56% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
    mask: 100% 50% var(--g),93.301% 75% var(--g),75% 93.301% var(--g),50% 100% var(--g),25% 93.301% var(--g),6.699% 75% var(--g),0% 50% var(--g),6.699% 25% var(--g),25% 6.699% var(--g),50% 0% var(--g),75% 6.699% var(--g),93.301% 25% var(--g),radial-gradient(100% 100%,#000 38.366%,#0000 calc(38.366% + 1px));
}


.card-top {
    display: flex; 
    justify-content: space-between;
    gap: 1rem;
}

.member-info h2 {
    font-size: var(--font-sm);
}

.member-info p {
    font-size: var(--font-xs);
}

.member-info,
.card-image {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-container:hover {
  transform: translateY(-5px);
  cursor: pointer;
}