.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-container:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card-image {
  position: relative;
  width: 100%;
  max-width: 20rem;  
  aspect-ratio: 1 / 1;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 0.1rem 0 0.2rem var(--primary);
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 20rem;
}

/* Remove default link styles */

a {
  text-decoration: none;
  color: inherit;
}

.overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  background: rgba(0, 0, 0, 0.6);
  font-size: var(--font-sm);
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-image:hover .overlay-text {
  opacity: 1;
}

