.section-services {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.services-list > *:nth-child(2n) {
    margin-top: 5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
    .services-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-list > *:nth-child(2n) {
        margin-top: 0rem;
    }
}