<footer>
    <div class="footer-top">
    <div id="logo-container">
        <img src="assets/logo.svg" alt="VulpesFlow Logo" id="logo">
        <span id="logo-text">VulpesFlow</span>
    </div>
    <div class="nav-links">
        <a routerLink="/" fragment="about-section">Sobre nós</a>
        <a routerLink="/" fragment="services-section">Serviços</a>
        <a routerLink="/" fragment="projects-section">Projetos</a>
        <a routerLink="/" fragment="equipe-section">Equipe</a>
    </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <p>&copy; 2026 VulpesFlow. Todos os direitos reservados.</p>
    </div>
</footer>
