<footer>
    <div class="footer-top">
    <div id="logo-container">
        <img src="assets/logo.svg" alt="VulpesFlow Logo" id="logo">
        <span id="logo-text">VulpesFlow</span>
    </div>
    <div class="nav-links">
        <a href="#">Sobre nós</a>
        <a href="#">Projetos</a>
        <a href="#">Equipe</a>
        <a href="#">Serviços</a>
    </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <p>&copy; 2026 VulpesFlow. Todos os direitos reservados.</p>
    </div>
</footer>
