<nav [class.is-scrolled]="isScrolled()" [class.is-hidden]="isHidden()">
  <a id="logo-container" routerLink="/">
    <img src="assets/logo.svg" alt="VulpesFlow Logo" id="logo" />
    <span id="logo-text">VulpesFlow</span>
  </a>

  <div class="nav-links">
    <a href="#about-section">Sobre nós</a>
    <a href="#services-section">Serviços</a>
    <a href="#equipe-section">Equipe</a>
    <app-button
      label="Entre em contato!"
      variant="flow"
      routerLink="/contato"
    ></app-button>
  </div>
</nav>
