.section-about {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.section-about h2 {
    font-size: var(--font-md);
    color: var(--primary);
}

.info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}