.section-header {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.section-header h1 {
    font-size: var(--font-md);
    color: var(--secondary);
    padding: 0rem 0.8rem;
    font-weight: bold;
    background-color: var(--primary);
    border-radius: var(--radius);
}

.section-header p {
    font-size: var(--font-xs);
    max-width: 55%;
}

@media (max-width: 768px) {
    .section-header {
        flex-direction: column;
        text-align: center;
    }

    .section-header p {
        max-width: 100%;
    }
}