* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: var(--secondary);
    color: var(--accent);
    padding: 2.5rem 2.5rem 0 2.5rem;
    font-family: var(--font-rajdhani);
}

:root {
    --primary: #FF6B35;
    --secondary: #191A23;
    --accent: #F3F3F3;

    --font-xs: 1.125rem;
    --font-sm: 1.25rem;
    --font-md: 1.875rem;
    --font-lg: 2.75rem;

    --radius: 1rem;
    --radius-large: 2.8125rem;
    --font-audiowide: 'Audiowide', cursive;
    --font-rajdhani: 'Rajdhani', sans-serif;
}

@font-face {
  font-family: 'Audiowide';
  src: url('/fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#logo {
    width: 2rem;
    height: auto;
}

#logo-text {
    font-family: var(--font-audiowide);
    font-size: var(--font-xs);
}

#logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

